@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

.game-letter {
    font-family: 'Darumadrop One', cursive;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 5px #000;
}